<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Tests" thread-count="1" parallel="tests">
	<listeners>
		<!-- <listener class-name="org.uncommons.reportng.HTMLReporter" /> <listener 
			class-name="org.uncommons.reportng.JUnitXMLReporter" /> -->
		<!-- <listener class-name="com.uiAutomationRetailSite.Expedia.GCO.Helper.Listener.RetryListener" 
			/> -->
		<listener
			class-name="com.uiAutomationRetailSite.Expedia.GCO.Helper.Listener.ExtentListener" />
	</listeners>
	<test name="LoginTest">
		<classes>
			<class
				name="com.uiAutomationRetailSite.Expedia.GCO.TestScripts.LoginTest.LoginTest" />
		</classes>
	</test>
	<test name="RagistrationTest">
		<classes>
			<class
				name="com.uiAutomationRetailSite.Expedia.GCO.TestScripts.RagistrationTest.RagistrationTest" />
		</classes>
	</test>
	<test name="DecendingSortedPrice">
		<classes>
			<class
				name="com.uiAutomationRetailSite.Expedia.GCO.TestScripts.DecendingSortedPrice.DecendingSortedPrice" />
			<!-- <class name="com.uiAutomationRetailSite.Expedia.GCO.TestScripts.TestScreenshot" 
				/> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
